﻿@model dynamic

@{
    ViewBag.Title = "Sample";

}

<h1>Simplest MVC Sample</h1>
<p>This is the default sample for MVC.</p>
<p>Only CSS style sheets in the /Content folder will be will be monitored </p>
<p>Try changing the background color in Site.css and save the file while looking at the page in your browser.</p>
