﻿body {
  background: #eee;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
  font-size: 1.0em;
}
a {
  color: blue;
}
.box {
  padding: 13px;
  width: 150px;
}
.box .inner {
  background: white;
  padding: 5px;
}
.box .inner a {
  color: black;
}
.responsiveBox {
  padding: 4px;
}
.responsiveBox ul li {
  display: inline;
}
@media (max-width: 480px) {
  .responsiveBox {
    background: #bada55;
  }
  .responsiveBox ul > li {
    display: list-item;
  }
  .responsiveBox h2 {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 481px) and (max-width: 900px) {
  .responsiveBox {
    background: #44F;
    color: white;
  }
  .responsiveBox a {
    color: white;
  }
}
@media (min-width: 900px) {
  .responsiveBox {
    background-color: #F33;
  }
}
