﻿@model dynamic

@{
    ViewBag.Title = "Sample";

}




<h1>LiveCssReloader: LESS example</h1>
<p>Using LESS with VS2012 upgrade 2, you can create a .less file that will automatically be saved as .css and .min.css on save</p>
<p>Try changing a style in /stylesheets/styles.less</p>
<p>By monitoring the output file LiveCssReloader will work as with "normal" CSS.</p>
<div class="box">
    <div class="inner">Read more about <a href="http://lesscss.org/">LESS</a></div>
</div>


<p>If  you are using <a href="http://sass-lang.com/">SASS</a> with a tool that generates css as well, the same approach will apply.</p>
<p>And if you are using a HttpHandler approach that translates your LESS files to css dynamically it should work as well. In that case, however, you should monitor changes to the .less file</p>

<strong>Oh, and using it for working with different screen sizes at the same time with media queries is also quite handy</strong>
<div class="responsiveBox">
    <h2>Responsive Navigation</h2>
    <ul class="navigation">
        <li><a href="">Home</a></li>
        <li><a href="">Shop</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">About</a></li>
    </ul>
</div>